.center {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.center p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.horiz-center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
p.note {
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.vCenter {
  padding: 70px 0;
  border: 3px solid green;
  text-align: center;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green;
}

.vcontainer {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.banner-container {
  position: relative;
  text-align: center;
  color: black;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  background: white;
  color: black;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  background: white;
  color: black;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  background: white;
  color: black;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  background: white;
  color: black;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  background: white;
  color: black;
  transform: translate(-50%, -50%);
}
