.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1%;
  row-gap: 1%;
  flex-wrap: wrap;
}
img {
  margin: 2px;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}
